---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout>
	<h1>Astro</h1>
	<p>At YeRide, we're not just a ridesharing app; we're a community-driven 
		movement dedicated to making transportation fair and equitable. 
		Our mission is to connect riders and drivers directly, eliminating 
		the middleman, and fostering a local community of happy riders and drivers.</p>
</BaseLayout>

